@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.header__list-item {
  gap: 20px;
  display: flex;
}

.list-item__link {
  color: #161C24;
}

.header__link {
  color: gray;
}

.header__burger {
  display: none;
}

.tepa {
  display: flex;
  gap: 100px;
  align-items: center;
}

.header__list2-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__oxrgisi {
  display: flex;
  align-items: center;
  gap: 30px;
}

.bi-telephone {
  color: blue;
}

@media only screen and (max-width: 815px) {
  .header__link {
    display: none;
  }
}
@media only screen and (max-width: 648px) {
  .header__list {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .header__burger {
    display: inline;
  }
  .header__logo {
    display: none;
  }
}
.sale-box {
  background-color: #454f5b;
  height: 44px;
  display: flex;
}

.sale-text {
  color: white;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 12%;
  text-align: center;
  padding-top: 9px;
  padding-left: 452px;
}

.sale-link {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 12%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  padding-top: 9px;
  padding-left: 197px;
}

.hero_title {
  color: #161c24;
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
  margin-top: 170px;
  width: 414px;
}

.hero_text1 {
  color: #454f5b;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  max-width: 287px;
  margin-bottom: 15px;
}

.hero {
  margin-left: 160px;
}

.hero_text2 {
  color: #454f5b;
  font-weight: 400;
  font-size: 14px;
  max-width: 287px;
  margin-bottom: 32px;
}

.text {
  color: #454f5b;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

.hero_text3 {
  color: #161c24;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.hero_btn {
  color: #ffffff;
  background-color: #4295e4;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border: none;
  padding: 12px 37px;
}

.hero_img {
  margin-top: 140px;
}

.hero_wrapper {
  display: flex;
  align-items: center;
  gap: 70px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #222;
}

.gift_h2 {
  color: #161c24;
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  text-align: center;
  margin-bottom: 55px;
  margin-top: 95px;
}

.benefits {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.benefit {
  text-align: center;
  max-width: 390px;
  padding: 32px 24px 24px 24px;
  box-shadow: -1px 1px 1px 1px #c4cdd5 inset;
}

.benefit img {
  width: 40px;
  margin-bottom: 10px;
}

.categories {
  padding: 40px 20px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.category-card {
  background: #f9f9f9;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: #f9f9f9;
  border-radius: 10px;
}
.category-card img {
  width: 100%;
}

.category-card button {
  padding: 12px 78px;
  background-color: white;
  border: 1px solid #454f5b;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.all-categories {
  text-align: center;
  margin-top: 20px;
}

.all-categories button {
  padding: 12px 57px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  padding: 12px 57px;
  background-color: #007bff;
  border: none;
  color: white;
}
.all-categories button .bi-house-door-fill {
  display: none;
}

.hero__wrapper {
  margin-top: 20px;
}

.span__hero {
  color: #a5a7a9;
}

@media only screen and (max-width: 475px) {
  .bi-house-door-fill {
    display: inline;
  }
  .brnci {
    display: none;
  }
  .ici {
    display: none;
  }
}
.hamas {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.hero__top-img {
  width: 605px;
}

.right_tepa {
  display: flex;
  gap: 10px;
}

.tepaniki_link {
  color: blue;
}

.bii {
  display: none;
}

.tepaniki_p {
  color: #454f5b;
}

.right__title {
  color: #161c24;
  font-size: 24px;
}/*# sourceMappingURL=style.css.map */