.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.header__list-item {
  gap: 20px;
  display: flex;
}

.list-item__link {
  color: #161c24;
}

.header__link {
  color: gray;
}

.header__burger {
  display: none;
}

.header__burger--list {
  display: none;
}

.ul-li_title {
  color: #454f5b;
}

.ul-li_titlee {
  color: #161c24;
}

.glavny {
  color: #551a8b;
}

.nommla {
  margin-top: 20px;
}

.katalog {
  color: #454f5b;
}
// .phonega{
//   margin-top: 340px;
//   display: flex;
//   gap: 25px;
// }

.tepa {
  display: flex;
  gap: 100px;
  align-items: center;
}

.nom__ul-li {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hrlar {
  width: 333px;
}

.ul-li_titlee {
  display: flex;
  gap: 220px;
}

.header__list2-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__oxrgisi {
  display: flex;
  align-items: center;
  gap: 30px;
}

.bi-telephone {
  color: blue;
}

@media only screen and (max-width: 815px) {
  .header__link {
    display: none;
  }
}

@media only screen and (max-width: 648px) {
  .header__list {
    display: none;
  }
}

.actives {
  display: flex;
  position: absolute;
}

@media only screen and (max-width: 400px) {
  .header__burger {
    display: inline;
  }
  
  .header__burger--list {
    flex-direction: column;
    top: 80px;
    height: 100vh;
    width: 100vw;
    background-color: white;
  }
  
  .header__logo {
    display: none;
  }
}



details {
  width: 90%;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;

}

/* O'zimiz icon qo'shamiz */
summary::after {
  content: "▼";
  font-size: 12px;
  transition: transform 0.3s;
}

/* Ochilganda aylansin */
details[open] summary::after {
  transform: rotate(180deg);
}

p {
  padding: 10px;
  margin: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-top: none;
}