.hero__wrapper {
  margin-top: 20px;
}

.span__hero {
  color: #a5a7a9;
}
@media only screen and (max-width: 475px) {
  .bi-house-door-fill {
    display: inline;
  }

  .brnci {
    display: none;
  }

  .ici {
    display: none;
  }
}

.hamas {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.hero__top-img {
  width: 605px;
}

.right_tepa {
  display: flex;
  gap: 10px;
}

.tepaniki_link {
  color: blue;
}

.bii {
  display: none;
}

.tepaniki_p {
  color: #454f5b;
}

.right__title {
  color: #161c24;
  font-size: 24px;
  width: 40px;
  margin-bottom: 10px;
}

.categories {
  padding: 40px 20px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
}
.category-card {
  background: #f9f9f9;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  img {
    width: 100%;
  }
  background: #f9f9f9;
  border-radius: 10px;
}

.category-card button {
  padding: 12px 78px;
  background-color: white;
  border: 1px solid #454f5b;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.all-categories {
  text-align: center;
  margin-top: 20px;
}

.all-categories button {
  padding: 12px 57px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  padding: 12px 57px;
  background-color: #007bff;
  border: none;
  color: white;
  .bi-house-door-fill {
    display: none;
  }
}

.hero__wrapper {
  margin-top: 20px;
}

.span__hero {
  color: #a5a7a9;
}
@media only screen and (max-width: 475px) {
  .bi-house-door-fill {
    display: inline;
  }

  .brnci {
    display: none;
  }

  .ici {
    display: none;
  }
}

.hamas {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.hero__top-img {
  width: 605px;
}

.right_tepa {
  display: flex;
  gap: 10px;
}

.tepaniki_link {
  color: blue;
}

.bii {
  display: none;
}

.tepaniki_p {
  color: #454f5b;
}

.right__title {
  color: #161c24;
  font-size: 24px;
}
