.razmerlar__wrapper {
  margin-top: 40px;
}

.titles-item {
  display: flex;
  gap: 62px;
  align-items: center;
}

.title-item1 {
  color: #161c24;
}

.title-item2 {
  color: #161c24;
}

.title-item3 {
  color: #161c24;
}

.razmerlar-box {
  display: flex;
  margin-top: 24px;
  gap: 30px;
}

.box__left-item {
  display: flex;
  gap: 100px;
  padding: 16px 12px;
  align-items: center;
}

.box-item_pp {
  width: 291px;
  color: #454f5b;
}

.box-item_p {
  color: #454f5b;
}

.box-item_subtitle {
  color: #181818;
}

.box__right-items {
  display: flex;
  gap: 100px;
  padding: 16px 12px;
  align-items: center;
}

.box-items_p {
  color: #454f5b;
}

.box-items_subtitle {
  color: #181818;
}

.box__left-item:nth-child(odd) {
  background-color: #fafafa;
}

.box__right-items:nth-child(odd) {
  background-color: #fafafa;
}

@media only screen and (max-width: 594px) {
  .titles-item {
    display: flex;
    gap: 16px;
  }
}

@media only screen and (max-width: 477px) {
  .titles-item {
    display: flex;
    gap: 5px;
  }
}

@media only screen and (max-width: 470px) {
  .titles-item {
    display: none;
  }
}

@media only screen and (max-width: 1221px) {
  .razmerlar-box {
    display: flex;
    flex-direction: column-reverse;
  }
}

.product_h3 {
  color: #161c24;
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  margin-bottom: 65px;
  margin-top: 100px;
}
.product_zamok {
  color: #454f5b;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
  width: 264px;
  margin-left: 12px;
}
.products_second-text {
  color: #161c24;
  font-weight: 600;
  font-size: 20px;
  margin-left: 12px;
}
.product_child {
  box-shadow: 0px -1px 0px 0px #eaeaea inset;
  border: 1px solid white;
}
.products_image {
  position: relative;
}
.agree {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0%;
  left: 0%;
}
.sale {
  position: absolute;
  right: 0%;
}
.products_wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  gap: 30px;
  justify-content: space-between;
}
.products__bottom {
  border-bottom: 1px solid #a5a5a5;
  border-right: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5;
}

@media only screen and (max-width: 1150px) {
  .products_wrapper {
    overflow: scroll;
  }
}

@media screen and (max-width: 1230px) {
  .bi-caret-left-fill{
    display: none;
  }

  .bi-caret-right-fill{
    display: none;
  }

  .lalala{
    display: flex;
    gap: 0px;
  }

  .ora_product{
    display: none;
  }
}

@media only screen and (max-width: 365px) {
  .box__right-items {
    display: flex;
    gap: 50px;
  }

  .box__left-item {
    display: flex;
    gap: 50px;
  }
}

.lalala {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.ora_product {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}



