.razmerlar__wrapper {
  margin-top: 40px;
}

.titles-item {
  display: flex;
  gap: 62px;
  align-items: center;
}

.title-item1 {
  color: #161c24;
}

.title-item2 {
  color: #161c24;
}

.title-item3 {
  color: #161c24;
}

.razmerlar-box {
  display: flex;
  margin-top: 24px;
  gap: 30px;
}

.box__left-item {
  display: flex;
  gap: 30px;
  padding: 16px 12px;
  align-items: center;
}

.box-item_pp {
  width: 291px;
  color: #454f5b;
}

.box-item_p {
  color: #454f5b;
}

.box-item_subtitle{
    color: #181818;
}
